*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --cor-fundo: rgb(82, 137, 127);
    --cor-titulo: #175240;
    --cor-fonte: rgb(235, 231, 231);
    --cor-fonte-titulo: white;
    --borda-superior: 0.5rem 0.5rem 0 0;
    --borda-total: 0.5rem;
    --borda-input: 0.2rem;
}

img {
    width: 100%;
    height: 100px;
    object-fit: cover; /* preenche o espaço sem deixar bordas brancas, cortando o excesso */
}

body{
    background-color: #8bbab0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#container{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1 0 auto; /* O '0' no meio impede que ele encolha */
    width: 100%;
}

#conteudo-principal{
    display: flex;
    width: 90%;
    margin: 3% auto;
    margin-bottom: 0;
}

#coluna-esquerda{
    width: 30%;
    margin: 0 1% 0 0;
    display: flex;
    flex-direction: column;
    margin-right: 1.5%;
    gap: 1.5%;
}

#premissas{
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    border-radius: var(--borda-total);
}

#projecao{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    border-radius: var(--borda-total);
}

#coluna-direita{
    width: 70%;
}

#fcd{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    height: 100%;
    border-radius: var(--borda-total);
}

tr td{
    font-weight: 600; 
    color: var(--cor-fonte);
}

table td {
    padding: 0.5% 0;
}


th{
    text-align: left;
}

table{
    padding: 1%;
}

.titulo-esquerda{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-titulo);
    border-radius: var(--borda-superior);
    padding: 2%;
    color: var(--cor-fonte-titulo);
}

.titulo-direita{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-titulo);
    border-radius: var(--borda-superior);
    padding: 0.85%;
    color: var(--cor-fonte-titulo);
}

.imagem-titulo{
    width: 35px;
    height: 30px;
    margin-right: 1%;
}

#resultado-projecao{
    background-color: rgb(139, 169, 157);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5%;
    margin: 1%;
    border-radius: var(--borda-total);
    border: 2px solid var(--cor-titulo);
}

.campo-fcd{
    font-weight: 600;
    color: var(--cor-fonte);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.campo-fcd .campo-input input {
    text-align: center;
}

.campo-input-premissas{
    width: 16%;
}

.campo-input-premissas input{
    width: 100%;
    padding: 4%;
    text-align: right;
}

.campo-input-crescimento{
    width: 23%;
    padding: 0.7%;
}

.campo-input-crescimento input{
    width: 100%;
    padding: 1%;
    text-align: right;
}

.campo-input{
    padding: 0.5%;
    width: 70%;
    display: flex;
    align-items: center;
}

.campo-input input{
    width: 100%;
    text-align: right;
    margin: 2%;
}

input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.95rem;
    font-weight: 600;
}

input:disabled {
    color: rgb(73, 73, 73);
}

.campo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5%;
}

.campo label{
    color: var(--cor-fonte);
    font-size: 1.1rem;
    font-weight: 600;
    width: 80%;
}

.editavel{
    background-color: rgb(139, 169, 157);
    border-radius: var(--borda-input);
}

#anotacoes{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 4% auto;
    background-color: var(--cor-fundo);
    border-radius: var(--borda-total);
    margin-bottom: 4%;
}

.titulo-anotacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--cor-fonte-titulo);
    background-color: var(--cor-titulo);
    padding: 0.8%;
    border-radius: var(--borda-superior);
}

#anotacoes textarea{
    width: 98%;
    height: 15vh;
    padding: 1%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 0.6rem;
    font-size: 1rem;
    background-color: rgb(222, 222, 222);
    resize: none; /* remove a opção de redimensionar o textarea */
    outline: none; /* remove a borda azul que aparece ao clicar no textarea */
    font-weight: 600;
}

textarea, input {
    cursor: text; 
}

input:disabled {
    cursor: default; /* cursor normal de seta quando passar em cima de inputs desabilitados */
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: var(--cor-titulo);
    color: var(--cor-fonte-titulo);
    width: 100%;
    margin-top: auto;
}

/* ignorando essa div para tela grande */
.campo-linha-mobile{
    display: contents;
}


/* Para calulares*/
@media (max-width: 768px) {
    
    #conteudo-principal{
        display: flex;
        flex-direction: column;
    }

    #coluna-esquerda{
        width: 100%;
    }

    #coluna-direita{
        width: 100%;
        margin-top: 4%;
    }

    h2{
        font-size: medium;
    }

    .titulo-esquerda img{
        width: 20px;
        height: 20px;
    }

    .titulo-direita img{
        width: 20px;
        height: 20px;
    }

    .titulo-anotacao img{
        width: 20px;
        height: 20px;
    }

    .titulo-anotacao{
        padding: 2%;
    }

    .titulo-direita{
        padding: 2%;
    }

    .campo label{
        font-size: 0.9rem;
        color: rgba(235, 231, 231, 0.8);
    }

    td{
        display: flex;
        justify-content: space-between;
        font-size: small;
        align-items: center;
    }

    table thead{
        display: none;
    }

    table, tbody, tr{
        display: block;
        width: 100%;
    }

    tr{
        display: flex;
        flex-direction: column;
        background-color: #497870;
        border-radius: var(--borda-total);
        margin: 4% 0;
    }

    td:first-child{
        font-size: 1.15rem;
        font-weight: 700;
        padding: 0.5rem;
        color: var(--cor-fonte-titulo);
        background-color: #3D665E;
        border-radius: var(--borda-superior);
    }

    td:not(:first-child){
        padding: 0.5rem;
    }

    #premissas .campo-input-premissas{
        width: 20%;
    }

    #projecao .campo-input{
        width: 90%;
    }

    .campo-input input, .campo-input-premissas input{
        text-align: right;
    }

    table tbody td:not(:first-child)::before {
        content: attr(data-label);
        font-size: 0.9rem;
        color: rgba(235, 231, 231, 0.8);
    }

    td:not(:first-child) input{
        text-align: right;
    }

    table tbody td .campo-input {
        width: 60%;
    }

    table tbody td .campo-input-crescimento {
        width: 20%;
    }

    #resultado-projecao{
        flex-direction: column;
        gap: 1rem;
    }

    .campo-linha-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
    }

    .campo-linha-mobile label{
        font-size: 0.9rem;
        color: rgba(235, 231, 231, 0.8);
    }

    .campo-linha-mobile input{
        text-align: center;
    }

}