*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --cor-fundo: rgb(82, 137, 127);
    --cor-titulo: #175240;
    --cor-fonte: rgb(235, 231, 231);
    --cor-fonte-titulo: white;
    --borda-superior: 0.5rem 0.5rem 0 0;
    --borda-total: 0.5rem;
    --borda-input: 0.2rem;
}

img {
    width: 100%;
    height: 100px;
    object-fit: cover; /* preenche o espaço sem deixar bordas brancas, cortando o excesso */
}

body{
    background-color: #8bbab0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#container{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1 0 auto; /* O '0' no meio impede que ele encolha */
    width: 100%;
}

#conteudo-principal{
    display: flex;
    width: 90%;
    margin: auto;
}

#coluna-esquerda{
    width: 30%;
    margin: 0 1% 0 0;
    display: flex;
    flex-direction: column;
    margin-right: 1.5%;
}

#premissas{
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    border-radius: var(--borda-total);
}

#projecao{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    border-radius: var(--borda-total);
}

#coluna-direita{
    width: 70%;
}

#fcd{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    height: 100%;
    border-radius: var(--borda-total);
}

tr td{
    font-weight: 600; 
    color: var(--cor-fonte);
}

#coluna-direita h2{
    padding: 0.9%;
    background-color: var(--cor-titulo);
    color: var(--cor-fonte-titulo);
    text-align: center;
    border-radius: var(--borda-superior);
}

th{
    text-align: left;
}

table{
    padding: 1%;
}

#resultado-projecao{
    background-color: rgb(139, 169, 157);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5%;
    margin: 1%;
    border-radius: var(--borda-total);
    border: 2px solid var(--cor-titulo);
}

#campo-fcd{
    font-weight: 600;
    color: var(--cor-fonte);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#campo-fcd#campo-fcd input{
    text-align: center;
}

#coluna-esquerda h2{
    background-color: var(--cor-titulo);
    border-radius: var(--borda-superior);
    padding: 2%;
    color: var(--cor-fonte-titulo);
    text-align: center;
    font-size: 1.5rem;
}

.campo-input-premissas{
    width: 16%;
}

.campo-input-premissas input{
    width: 100%;
    padding: 1%;
    text-align: left;
}

.campo-input-crescimento{
    width: 23%;
}

.campo-input-crescimento input{
    width: 100%;
    padding: 1%;
    text-align: left;
}

.campo-input{
    padding: 0.5%;
    width: 70%;
    display: flex;
    align-items: center;
}

.campo-input input{
    width: 100%;
    text-align: left;
    margin: 2%;
}

input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.95rem;
    font-weight: 600;
}

input:disabled {
    color: rgb(73, 73, 73);
}

.campo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
}

.campo label{
    color: var(--cor-fonte);
    font-size: 1.1rem;
    font-weight: 600;
    width: 80%;
}

.editavel{
    background-color: rgb(139, 169, 157);
    border-radius: var(--borda-input);
}

#anotacoes{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 1.3%;
    background-color: var(--cor-fundo);
    border-radius: var(--borda-total);
    margin-bottom: 4%;
}

#anotacoes h2{
    color: var(--cor-fonte-titulo);
    background-color: var(--cor-titulo);
    text-align: center;
    font-size: 1.5rem;
    padding: 0.8%;
    border-radius: var(--borda-superior);
}

#anotacoes textarea{
    width: 98%;
    height: 15vh;
    padding: 1%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 0.6rem;
    font-size: 1rem;
    background-color: rgb(222, 222, 222);
    resize: none; /* remove a opção de redimensionar o textarea */
    outline: none; /* remove a borda azul que aparece ao clicar no textarea */
    font-weight: 600;
}

textarea, input {
    cursor: text; 
}

input:disabled {
    cursor: default; /* cursor normal de seta quando passar em cima de inputs desabilitados */
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: var(--cor-titulo);
    color: var(--cor-fonte-titulo);
    width: 100%;
    margin-top: auto;
}